{% set role = role|default('alert') %}
{% set attributes = attributes.setAttribute('role', role) %}
{%
  set aria_live_mapping = {
    'alert': 'assertive',
    'status': 'polite',
    'log': 'polite',
  }
%}
{% set attributes = attributes.setAttribute('aria-live', attribute(aria_live_mapping, role)) %}

{% set delay = delay|default(5000) %}
{% if delay == 0 %}
  {% set attributes = attributes.setAttribute('data-bs-autohide', 'false') %}
{% else %}
  {% set attributes = attributes.setAttribute('data-bs-delay', delay) %}
{% endif %}

{% set attributes = attributes.hasAttribute('aria-atomic') ? attributes : attributes.setAttribute('aria-atomic', 'true') %}
{% set close_button_variant = close_button_variant|default('default') %}

<div{{ attributes.addClass('toast') }}>
  {% if flex_wrapper %}
    <div class="d-flex">
  {% endif %}

  {% if header %}
    <div class="toast-header">
      {{ header }}

      {% if not hide_close_button %}
        {{ pattern('close_button', {
          attributes: create_attribute({
            'data-bs-dismiss': 'toast'
          })
        }, close_button_variant) }}
      {% endif %}
    </div>
  {% endif %}

  {% if content %}
    <div class="toast-body">
      {{ content }}
    </div>
  {% endif %}

  {% if not hide_close_button and not header %}
    {{ pattern('close_button', {
      attributes: create_attribute({
        'data-bs-dismiss': 'toast',
        'class': [
          'me-2',
          'm-auto'
        ]
      })
    }, close_button_variant) }}
  {% endif %}

  {% if flex_wrapper %}
    </div>
  {% endif %}
</div>
