{% if variant and variant|lower != 'default' %}
  {% set attributes = attributes.addClass('accordion-' ~ variant|lower|replace({'_': '-'})) %}
{% endif %}
{% set accordion_id = "accordion-" ~ random() %}
<div{{ attributes.addClass('accordion').setAttribute('id', accordion_id) }}>
  {% if keep_open %}
    {{ content }}
  {% else %}
    {{ content|set_attribute('data-dto-parent', '#' ~ accordion_id) }}
  {% endif %}
</div>
