<!-- Header-->
<header class="bg-dark py-5">
  <div class="container px-5">
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">{{ content.field_banner_title }}</h1>
          <h3 class="lead fw-normal text-white mb-4">{{ content.field_banner_sub_title }}</h3>

        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">{{ content.field_banner_image }}</div>
    </div>
  </div>
</header>
<section class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="text-center">
      <h1 class="fw-bolder">Services</h1>
      <p class="lead fw-normal text-muted mb-5">Service offerings for Drupal</p>
    </div>
    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
      <div class="col mb-5 mb-5 mb-xl-0">
        <div class="text-center">
          <img class="img-fluid rounded  mb-4 px-4" src="/sites/default/files/webdev.png" alt="..." />
          <h5 class="fw-bolder">Website Development</h5>
          <div class="fst-italic text-muted">Transforming ideas into stunning Drupal websites, one line of code at a time.</div>
        </div>
      </div>
      <div class="col mb-5 mb-5 mb-xl-0">
        <div class="text-center">
          <img class="img-fluid rounded mb-4 px-4" src="/sites/default/files/custom%404x.png" alt="..." />
          <h5 class="fw-bolder">Theme Customization</h5>
          <div class="fst-italic text-muted">Tailor-made theme customization to elevate your website's look and feel.</div>
        </div>
      </div>
      <div class="col mb-5 mb-5 mb-sm-0">
        <div class="text-center">
          <img class="img-fluid rounded mb-4 px-4" src="/sites/default/files/integration%404x.png" alt="..." />
          <h5 class="fw-bolder">Module Integration</h5>
          <div class="fst-italic text-muted">Enhance and expand your Drupal site's capabilities through seamless module integration.</div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="text-center">
          <img class="img-fluid rounded mb-4 px-4" src="/sites/default/files/maintinance%404x.png" alt="..." />
          <h5 class="fw-bolder">Site Maintenance and Support</h5>
          <div class="fst-italic text-muted">Reliable site maintenance and support to keep your Drupal website running smoothly</div>
        </div>
      </div>
    </div>
  </div>
</section>

